// page color scheme - neutral:
$neutral-900: #062630;
$neutral-700: #385159;
$neutral-200: #e6e1df;
$neutral-100: #faf5f3;

// page color scheme - light salmon:
$light-salmon-500: #fea36f;
$light-salmon-100: #ffe2d1;
$light-salmon-50: #fff5ef;

// page color scheme - gradients:
$text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
$bg-gradient: linear-gradient(
  140deg,
  $light-salmon-50 0%,
  $light-salmon-50,
  #9ccbdaaf 100%
);
$btn-hover-gradient: linear-gradient(
  90deg,
  $light-salmon-100 0%,
  $light-salmon-50 100%
);

// Page layout paddings:
$pg-layout-metrics: 135px;

// Page spacing:
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;

// border-radiuses:
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;
